{% extends "base.html" %}

{% block page_title %}
Lista de Tarefas
{% endblock page_title %}

  {% block content %}
  <h2>Lista de Tarefas</h2>
  {% if todos_list %}
    <table class="table table-hover table-striped">
      <thead>
          <tr>
              <th>id</th>
              <th>Título</th>
              <th>Criado em</th>
              <th>Data limite</th>
              <th>Finalizado em</th>
          </tr>
      </thead>
      <tbody>
        {% for todo in todos_list %}
            <tr>
              <th>{{ todo.pk }}</th>
              <th>{{ todo.title }}</th>
              <th>{{ todo.created_at }}</th>
              <th>{{ todo.deadline }}</th>
              <th>{{ todo.finished_at|default:"---" }}</th>
              <th>
                {% if todo.finished_at %}
                  <button type="button" href="{% url 'todo_complete' pk=todo.pk %}" class="btn btn-outline-primary mb-2 mt-2 btn-sm" disabled>Concluir</button>
                  <button type="button" href="{% url 'todo_update' pk=todo.pk %}" class="btn btn-sm mb-2 mt-2 btn-outline-secondary" disabled>Editar</button>
                {% else %}
                  <button type="button" href="{% url 'todo_complete' pk=todo.pk %}" class="btn btn-outline-primary mb-2 mt-2 btn-sm">Concluir</button>
                  <button type="button" href="{% url 'todo_update' pk=todo.pk %}" class="btn btn-sm mb-2 mt-2 btn-outline-secondary">Editar</button>
                {% endif %}
                <button type="button" href="{% url 'todo_delete' pk=todo.pk %}" class="btn btn-outline-danger btn-sm">Excluir</button>
              </th>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Não possui nenhuma tarefa.</p>
  {% endif %}

  <a href="{% url "todo_created" %}" class="btn btn-sm btn-outline-success">Nova tarefa</a>
{% endblock content %}