{% extends "base.html" %}

{% block page_title %}
Lista de Tarefas
{% endblock page_title %}

  {% block content %}
  <h2>Lista de Tarefas</h2>
  {% if todos_list %}
    <table class="table table-striped">
      <thead>
          <tr>
              <th>id</th>
              <th>Título</th>
              <th>Criado em</th>
              <th>Data limite</th>
              <th>Finalizado em</th>
          </tr>
      </thead>
      <tbody>
        {% for todo in todos_list %}
          <tr>
            <th>{{ todo.pk }}</th>
            <th>{{ todo.title }}</th>
            <th>{{ todo.created_at }}</th>
            <th>{{ todo.deadline }}</th>
            <th>{{ todo.finished_at|default:"---" }}</th>
            <th>
              <a href="#" class="btn btn-primary mb-2 mt-2 btn-sm">Concluir</a>
              <a href="#" class="btn btn-danger btn-sm">Excluir</a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Não possui nenhuma tarefa.</p>
  {% endif %}

  <a href="{% url "todo_created" %}" class="btn btn-sm btn-outline-success">Nova tarefa</a>
{% endblock content %}